#chart-inputs {
    width: 100%;
}

#chart-parameters {
    border-style: solid;
    width: 50%;
}

button {
    text-align:    center;
    margin-left: 50%;
    margin-top:  10px;
    margin-bottom: 10px;
}

#chart-parameters-title{
    text-align:    center;
    text-decoration: underline;
}

#plot-type {
    margin-top:  10px;
    margin-bottom: 10px;
}

.labels {
    width: 50%;
    margin: 0 auto;
    margin-top:  10px;
    margin-bottom: 10px;
}

#chart-files{
    border-style: solid;
    width: 50%;
}

#chart-files-title {
    text-align:    center;
    text-decoration: underline;
}

#chiral-files {
    margin-bottom: 10px;
}
#plot-abs {
    margin-top:  10px;
    margin-bottom: 10px;
}